/* FORM*/
.div-highlight {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 1.5em;
}

.container-form {
	box-shadow: 6px 6px 6px -6px black;
	margin-bottom: 1.5em;
}

button[type=submit] {
	width: 100%;
	margin-top: 1em;
}

.button-delete {
	width: initial;
	height: 2em;
	float:right;
	margin-right:2em;
}

.vote-count {
	margin-left:0.1em;
	margin-bottom:0.6em;
}

.long-text {
	word-wrap: break-word;
}

.ask-title {
	margin-top: -5em;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
